[submodule "VolumeScroll"]
	path = Utilities/VolumeScroll
	url = https://github.com/denolfe/VolumeScroll.git
[submodule "Utilities/Colorette"]
	path = Utilities/Colorette
	url = https://github.com/Appifyer/Colorette.git
[submodule "Utilities/WindowPadX"]
	path = Utilities/WindowPadX
	url = https://github.com/denolfe/WindowPadX
